src/main/resources/wsdl/customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://credable.io/customer"
                  targetNamespace="http://credable.io/customer">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://credable.io/customer">
            
            <xs:element name="getCustomerRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customerNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="getCustomerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customerNumber" type="xs:string"/>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="phoneNumber" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getCustomerRequest">
        <wsdl:part name="parameters" element="tns:getCustomerRequest"/>
    </wsdl:message>

    <wsdl:message name="getCustomerResponse">
        <wsdl:part name="parameters" element="tns:getCustomerResponse"/>
    </wsdl:message>

    <wsdl:portType name="CustomerPort">
        <wsdl:operation name="getCustomer">
            <wsdl:input message="tns:getCustomerRequest"/>
            <wsdl:output message="tns:getCustomerResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CustomerBinding" type="tns:CustomerPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomer">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CustomerService">
        <wsdl:port name="CustomerPort" binding="tns:CustomerBinding">
            <soap:address location="https://kycapitest.credable.io/service/customer"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions> 